.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 48px;

  &__card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@media (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 767px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 487px) {
  .catalog {
    grid-template-columns: 200px;
  }
}
